<div class="item">
    <div class="item-image">
    {{- if isset .Params "image" -}}
        {{- $image := .Resources.GetMatch .Params.image -}}
        {{- if $image -}}
            {{- $image_webp := $image.Fill "500x250 Center webp q100" -}}
            <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
                <img src="{{ $image_webp.RelPermalink }}" alt="{{ .LinkTitle }}">
            </a>
        {{- end -}}
    {{- end -}}
    </div>
    <div class="item-content-inner">
        <a href="{{ .RelPermalink }}" class="item-title" title="{{ .LinkTitle }}">
            <h2>{{ .LinkTitle }}</h2>
        </a>
        <div class="item-content">
            <p class="item-description">{{ .Summary }}</p>
            <div class="item-add-content-inner">
                <div class="section">
                    <a href="{{ .RelPermalink }}" class="button-outline" title="{{ .LinkTitle }}">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
