<article class="item{{ if .Scratch.Get "featured" }} item--featured{{ end }}">
    {{- $itemLang := partial "get-post-lang.html" . -}}
    {{- $readMore := cond (eq $itemLang "fr") "Lire l'article" "Read more" -}}
    {{- $monthsFr := dict "1" "janvier" "2" "février" "3" "mars" "4" "avril" "5" "mai" "6" "juin" "7" "juillet" "8" "août" "9" "septembre" "10" "octobre" "11" "novembre" "12" "décembre" -}}
    {{- if isset .Params "image" -}}
        {{- $image := .Resources.GetMatch .Params.image -}}
        {{- if $image -}}
            {{- $image_webp := $image.Fill "800x400 Center webp q100" -}}
            <a href="{{ .RelPermalink }}" class="item-cover" title="{{ .LinkTitle }}">
                <img src="{{ $image_webp.RelPermalink }}" alt="" loading="lazy" decoding="async">
            </a>
        {{- end -}}
    {{- end -}}
    <div class="item-body">
        <time class="item-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{- if eq $itemLang "fr" -}}
                {{ .Date.Format "2" }} {{ index $monthsFr (.Date.Format "1") }} {{ .Date.Format "2006" }}
            {{- else -}}
                {{ .Date.Format "January 2, 2006" }}
            {{- end -}}
        </time>
        <a href="{{ .RelPermalink }}" class="item-title" title="{{ .LinkTitle }}">
            <h2>{{ .LinkTitle }}</h2>
        </a>
        <p class="item-description">{{ .Summary | plainify }}</p>
        <a href="{{ .RelPermalink }}" class="button-outline" title="{{ .LinkTitle }}">{{ $readMore }}</a>
    </div>
</article>
