/* PixelSwap CSS Styles */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

$background-color: #23252d;
$color-blue: rgb(58, 160, 255);
$color-purple: #6655dd8f;

@import "libs/simplegrid";
@import "libs/prettify";
@import "libs/highlight";
@import "style";
@import "partials/post";
@import "partials/home";
@import "partials/link";
