/* PixelSwap CSS Styles */

@font-face {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/Ubuntu-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Ubuntu-Regular.woff2) format('woff2');
}

$light-background-color: #f0f0f0;
$dark-background-color: #1d2125;
$color-blue: rgb(58, 160, 255);
$color-purple: #6655dd8f;
$color-light-purple: rgb(172, 105, 255);
$dark-text-color: #d5dde5;
$light-text-color: #172b4d;
$dark-title-color: #eaeef1;
$light-title-color: #172b4d;

@import 'darkmode';
@import 'libs/simplegrid';
@import 'libs/prettify';
@import 'libs/highlight';
@import 'style';
@import 'partials/post';
@import 'partials/home';
@import 'partials/vinyls';
