html {
    line-height: 1.7em;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-display: 'swap';
    color: $light-text-color;
    background: $light-background-color;

    &.dark {
        background: $dark-background-color;
        color: $dark-text-color;
    }

    @include darkMode {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }
}

body {
    min-height: 100%;
}

footer {
    text-align: center;
    padding: 50px 0;
}

.pixelswap-logo {
    filter: invert(100%);

    @include darkMode {
        filter: none;
    }
}

.centered-content {
    text-align: center;
    float: 0 auto;
}

p {
    margin-top: 1.25rem;
    padding: 0;
}

:focus {
    -moz-outline-style: none;
    outline-style: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f9f9f9;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}

blockquote {
    margin: 20px 25px 20px 15px;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-left: solid 4px #f15d22;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.hide {
    display: none;
}

.dark-mode-switcher {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 9999;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: #ddd;
    text-align: center;

    &:hover {
        background: #ccc;
    }

    @include darkMode {
        color: $dark-text-color;
        background: #333;

        &:hover {
            background: #555;
        }
    }

    svg {
        margin: 0 auto;
        height: 18px;
    }
}

.slogan {
    color: $light-text-color;
    font-size: 1.6em;
    float: right;
    text-align: right;
    margin-top: 18px;
    margin-right: 20px;

    @include darkMode {
        color: $dark-text-color;
    }
}

.pagination {
    text-align: center;

    ul {
        li {
            display: inline-block;

            margin-right: 4px;
            border-radius: 4px;

            background: #e9e9e9;
            cursor: pointer;

            &.disabled {
                background: #b9b9b9;
                cursor: not-allowed;

                &:hover {
                    background: #b9b9b9;

                    a {
                        color: #717171;
                    }
                }
            }

            &.active {
                border: none;
                background: #616161;

                a {
                    font-weight: bold;
                    color: #f0f0f0;
                }
            }

            &:hover {
                background: #717171;

                a {
                    color: #f0f0f0;
                }
            }

            a {
                display: block;
                font-size: 1.1em;
                text-decoration: none;
                color: #717171;
                padding: 4px 14px;
            }
        }
    }
}

.tag-links {
    text-align: center;

    a {
        display: inline-block;
        color: #555;
        border: 2px solid #555;
        padding: 8px 12px;
        font-size: 15px !important;
        line-height: 18px;
        margin-bottom: 8px;
        margin-right: 4px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        text-decoration: none;
        border-radius: 3px;
        -webkit-transition:
            border 0.2s,
            color 0.3s;
        -moz-transition:
            border 0.2s,
            color 0.3s;
        -o-transition:
            border 0.2s,
            color 0.3s;
        -ms-transition:
            border 0.2s,
            color 0.3s;
        transition:
            border 0.2s,
            color 0.3s;

        &:hover {
            color: #1abc9c;
            border-color: #1abc9c;
        }

        @include darkMode {
            color: #ddd;
            border: 2px solid #ddd;

            &:hover {
                color: #1abc9c;
                border-color: #1abc9c;
            }
        }
    }
}

.search-box {
    max-width: 99%;
    position: relative;
    margin-bottom: 23px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 20px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 8px;
    margin-left: 0.5%;
}

.search-box .label {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
}

.search-box input {
    width: 99%;
    color: #333;
    opacity: 1;
    outline: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 3px solid #b125c0;
}

.search-result-title {
    margin-top: 20px;
    color: $light-text-color;

    @include darkMode {
        color: $dark-text-color;
    }
}

.content-404 {
    color: $light-text-color;
    margin: 50px 0;

    @include darkMode {
        color: $dark-text-color;
    }
}

.content-404 h1 {
    font-size: 5em;
    line-height: 3.5em;
}

.page-update-info {
    color: #888;
    font-size: 0.9rem;
    margin: 0.5rem;
}
