{{- $i := .Page.Resources.GetMatch .Destination -}}

{{- if $i -}}
    {{- $Wd := $i.Width -}}
    {{- $sizes := slice 458 768 1200 -}}
    {{- $srcset := slice -}}
    {{- $sizestag := slice -}}
    {{- range $sizes -}}
        {{- if lt (mul . 1.2) $Wd -}}
            {{- $thumb := $i.Resize (printf "%dx webp q100" .) -}}
            {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
            {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
        {{- end -}}
    {{- end -}}
   
    {{- if ne (len $srcset) 3 -}}
        {{- $thumb := $i.Resize (printf "%dx webp q100" $Wd) -}}
        {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $Wd ) -}}
        {{- $sizestag = $sizestag | append (printf ("%dpx") $Wd ) -}}
    {{- end -}}
    <figure class="image-caption">
        <img src="{{ $i.RelPermalink }}" alt="{{ $.PlainText }}" title="{{ $.Title }}"
    {{- if gt (len $srcset) 0 -}}
        {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
        {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
    {{- end -}}
    ><figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
    </figure>
{{- else -}}
  {{- warnf "Unable to find '%s' -- ensure image exists alongside document in page bundle" .Destination -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />
{{- end -}}