.home-title {
    position: relative;
    text-align: center;
    color: darkMode($light-text-color, $dark-text-color);
    margin-bottom: 3em;
    margin-top: 2em;

    h1 {
        color: darkMode(black, white);
        font-weight: normal;
        font-size: 6em;
        margin: 0;
    }

    h3 {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
    }

    a:first-child {
        text-decoration: none;
        color: darkMode($light-text-color, $dark-text-color);
    }

    a:hover {
        text-decoration: underline;
    }
}

/* Items list */

.items-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    padding: 40px 0;
    width: 100%;
}

.item {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    position: relative;
}

.item-image {
    flex: 1 1 auto;
    max-width: 45%;
}

@media (max-width: 768px) {
    .item {
        gap: 10px;
    }

    .item-image {
        max-width: 100%;
    }
}

.item-image img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
}

.item-content-inner {
    flex: 1;
}

.item-title {
    text-decoration: none;
    color: darkMode($light-text-color, $dark-text-color);
    font-size: 1em;
    font-weight: 400;

    transition: all 0.2s ease-in;

    &:hover {
        color: $color-light-purple;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.item-description {
    font-size: 1em;
    font-weight: 400;
    color: darkMode($light-text-color, $dark-text-color);
    margin: 0;
    margin-bottom: 20px;
}

/* Buttons */
.button {
    display: block;
    background-color: $color-blue;
    text-align: center;
    line-height: 42px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    opacity: 1;
    border-bottom: 3px solid rgb(10, 134, 218);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgb(10, 134, 218);
    }
}

.button-outline {
    display: block;
    background-color: transparent;
    text-align: center;
    border: 1px solid darkMode($light-text-color, $dark-text-color);
    color: darkMode($light-text-color, $dark-text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    text-decoration: none;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: darkMode($light-text-color, $dark-text-color);
        color: darkMode($light-background-color, $dark-background-color);
    }
}
