/* POST CSS */

.post-topbar {
    position: sticky;
    width: 100%;
    min-height: 50px;
    background: darkMode($light-background-color, $dark-background-color);
    top: 0;
    z-index: 999;

    .col-12 {
        display: flex;
        width: 100%;
        padding: 10px 20px;
        margin: 0;
        margin-left: -20px;
        align-items: center;
        border-bottom: solid 6px $color-purple;
    }

    .profile-picture {
        border-radius: 6px;
        margin-right: 1rem;
    }

    .post-title {
        color: darkMode($light-title-color, $dark-title-color);
        flex: 1 1;
        font-weight: bold;
        margin: 0;
        font-size: 1.8em;
        line-height: initial;
    }

    .post-lang {
        float: right;
        margin-right: 7px;
        background: $color-blue;
        color: #fff;
        padding: 0 4px;
        border-radius: 4px;
    }

    .icon-home {
        float: right;
        border-left: 1px solid #dfdfdf;
        text-decoration: none;
        padding-left: 6px;
        color: darkMode($light-text-color, $dark-text-color);
    }
}

.featured-content {
    margin-top: 1rem;
    height: auto;
    max-height: 430px;
    border-radius: 6px;
    overflow: hidden;
    aspect-ratio: 1300 / 600;
}

.featured-image {
    width: 100%;
}

.post-container {
    position: relative;
    padding: 0 10px;
    color: darkMode($light-text-color, $dark-text-color);
    margin-top: 30px;

    .post-content {
        font-size: 16px;
        padding: 0 10px;
        margin-bottom: 20px;

        display: flex;
        flex-flow: column;
        align-items: center;

        p {
            width: 100%;
            margin-top: 1.25rem !important;
        }

        ul {
            width: 100%;
        }

        p:first-child {
            margin-top: 0 !important;
        }

        a {
            color: $color-blue;
        }

        .highlight {
            min-width: 100%;
            max-width: 96vw;
            width: fit-content;
        }

        img {
            border-radius: 6px;
            max-width: 100%;
            height: auto !important;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        iframe {
            border-radius: 6px;
            max-width: 100%;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
            line-height: initial;
            border-left: solid 6px $color-purple;
            padding-left: 12px;
            margin-left: -18px;
            margin-bottom: 0;
            width: 100%;
            color: darkMode($light-title-color, $dark-title-color);
        }
    }

    .record-footer {
        text-align: right;
    }

    .post-extra {
        padding: 0 10px;
    }
}

@media all and (max-width: 618px) {
    .post-topbar {
        position: relative;

        .col-12 {
            width: auto;
            margin: 0;
        }
    }

    .profile-picture {
        display: none;
    }
}
