{{- $global := resources.Get "js/index.js" }}
{{- $postsFilter := resources.Get "js/posts-filter.js" }}
{{- $postReading := resources.Get "js/post-reading.js" }}
{{- $vinylFilter := resources.Get "js/vinyl-filter.js" }}
{{- $bookFilter := resources.Get "js/book-filter.js" }}
{{- $js := slice $global $postsFilter $postReading $vinylFilter $bookFilter | resources.Concat "js/bundle.js" }}
<script src="{{ $js.RelPermalink }}" integrity="{{- $js.Data.Integrity }}" crossorigin="anonymous" async></script>
