<footer>
    <a alt="Retourner à la page d'accueil" href="{{ "" | relURL }}">
        <img src="/img/logoss.png" alt="PixelSwap" />
    </a>
    <p>Corentin Mors © 2012 - {{ now.Year }}</p>
</footer>

{{ partialCached "head/js.html" . }}

{{ if .Page.Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
{{ end }}


<script>
    hljs.initHighlightingOnLoad();
</script>
