<nav class="home-links" aria-label="Related sites and social">
    <a href="https://me.pixelswap.fr/" class="home-links__item">
        <i class="icon" aria-hidden="true">{{ partial "icons/user-solid.svg" . }}</i>
        <span>Me</span>
    </a>
    <a href="https://dev.pixelswap.fr/" class="home-links__item">
        <i class="icon" aria-hidden="true">{{ partial "icons/folder-tree-solid.svg" . }}</i>
        <span>Dev</span>
    </a>
    <a href="/vinyls" class="home-links__item">
        <i class="icon" aria-hidden="true">{{ partial "icons/record-vinyl-solid.svg" . }}</i>
        <span>Vinyls</span>
    </a>
    <span class="home-links__divider" aria-hidden="true"></span>
    <a href="https://www.threads.net/@corentin.mrs" class="home-links__item" target="_blank" rel="noopener noreferrer">
        <i class="icon" aria-hidden="true">{{ partial "icons/threads-brands-solid.svg" . }}</i>
        <span>Threads</span>
    </a>
    <a href="https://bsky.app/profile/corentin.mors.dev" class="home-links__item" target="_blank" rel="noopener noreferrer">
        <i class="icon" aria-hidden="true">{{ partial "icons/bluesky-brands-solid.svg" . }}</i>
        <span>Bluesky</span>
    </a>
</nav>
