{{- $validFormats := slice "default" "terse" }}

{{- $msg1 := "When passing a map to the internal pagination template, one of the elements must be named 'page', and it must be set to the context of the current page." }}
{{- $msg2 := "The 'format' specified in the map passed to the internal pagination template is invalid. Valid choices are: %s." }}

{{- $page := . }}
{{- $format := "default" }}

{{- if reflect.IsMap . }}
    {{- with .page }}
        {{- $page = . }}
    {{- else }}
        {{- errorf $msg1 }}
    {{- end }}
    {{- with .format }}
        {{- $format = lower . }}
    {{- end }}
{{- end }}

{{- if in $validFormats $format }}
    {{- if gt $page.Paginator.TotalPages 1 }}
        <div class="pagination">
            <ul class="pagination-{{ $format }}">
                {{- if eq $format "terse" }}{{ partial "inline/pagination/terse" $page }}{{- else }}{{ partial "inline/pagination/default" $page }}{{- end }}
            </ul>
        </div>
    {{- end }}
{{- else }}
    {{- errorf $msg2 (delimit $validFormats ", ") }}
{{- end -}}
